<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            .search_menu{
                float:left;
                margin: 0px;
            }
            .smenu_item{
                display: inline-block;
            }
        </style>
        
    </head>
    <body>
        <!--<link rel="stylesheet" type="text/css" href="/css/side_bar.css">-->
        <link rel="stylesheet" type="text/css" href="/css/customer/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <script src = 'https://unpkg.com/axios/dist/axios.min.js'></script>
        <script>
            window.onload = () => {
              if (new URL(location.href).searchParams.get('error')) {
                alert(new URL(location.href).searchParams.get('error'));
              }
            };
        </script>



        <!--이 페이지에서는 전체 통합 검색인걸로 하자. 할까? 검색 결과가 없는 페이지도 띄어줘야하네
            여기는 조오금 더 생각하며 냅둬보자.-->

        <div>
            <!-- 여기다가는 아티스트를 검색했을때 띄어줄 화면 -->
            
            <table class="search_index_result">
                <thead class="s_i_r_head">
                    <!--여기 디비를 어케 나오게 해야 되려나-->

                    
                    <th scope="col" class="artist">아티스트명</th>
                    <th scope="col" class="date">데뷔일</th>
                    <!--<th scope="col" class="song">곡 정보</th>
                    <th scope="col" class="Album">앨범 정보</th>-->
                    <!--DB제대로 안되어있음 최악의 경우 스키마를 하나 다시 짜야할지도-->
                </thead>
                <tbody>
                    <% if(count == null || posts.length == 0){ %>
                        <tr>
                            <td colspan="2">There is no data to show</td>
                        </tr>
                    <% } %>
                    
                        <% for( i=0; i < ring2; i++) { %>  
                            <tr>
                                
                                <td>
                                    <div class="artist_name" ><%= artist_cont[i].name %></div>
                                </td> 
                                <td>
                                    <div class="date" ><%= artist_cont[i].start_date %></div>
                                </td>
                            </tr>
                        <% } %>
                    
                </tbody>   
            </table>
        </div>
        
        <!--페이징 함수 넣던 자리,,,,,,,,,,,,,,,,,,,-->
        
    </body>
</html>